{% extends "base.html" %}

{% block body %}
    <div class="card-deck m-1">
        <div class="card bg-dark mx-5 mt-5 mb-5">
          <a class="card-body text-light link-underline-none" href="/prime-factorization">
            <h1 class="card-title text-center highlight-none font-averia">Prime Factorization</h1>
          </a>
        </div>
    </div>
    <div class="card-deck m-1">
        <div class="card bg-dark mx-5 mb-5">
          <a class="card-body text-light link-underline-none" href="/euler-totient">
            <h1 class="card-title text-center highlight-none font-averia">Totient Function Computation</h1>
          </a>
        </div>
    </div>
    <div class="card-deck m-1">
        <div class="card bg-dark mx-5 mb-5">
          <a class="card-body text-light link-underline-none" href="/miller-rabin-algorithm">
            <h1 class="card-title text-center highlight-none font-averia">Miller Rabin Algorithm</h1>
          </a>
        </div>
    </div>
    <div class="card-deck m-1">
        <div class="card bg-dark mx-5 mb-5">
          <a class="card-body text-light link-underline-none" href="/fast-exponentiation">
            <h1 class="card-title text-center highlight-none font-averia">Fast Exponentiation</h1>
          </a>
        </div>
    </div>
    <div class="card-deck m-1">
        <div class="card bg-dark mx-5 mb-5">
          <a class="card-body text-light link-underline-none" href="/chinese-remainder-theorem">
            <h1 class="card-title text-center highlight-none font-averia">Chinese Remainder Theorem</h1>
          </a>
        </div>
    </div>
{% endblock %}
