<nav class="navbar  navbar-dark background-dark border-bottom-blue">
  <a class="navbar-brand font-alegreya" href="/">Number Theory Calculator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link text-primary px-5 font-alegreya" href="/prime-factorization">Prime Factorization<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link text-primary px-5 font-alegreya" href="/euler-totient">Euler Totient Function</a>
      <a class="nav-item nav-link text-primary px-5 font-alegreya" href="/miller-rabin-algorithm">Miller Rabin Algorithm</a>
      <a class="nav-item nav-link text-primary px-5 font-alegreya" href="/fast-exponentiation">Fast Exponentiation</a>
      <a class="nav-item nav-link text-primary px-5 font-alegreya" href="/chinese-remainder-theorem">Chinese Remainder Theorem</a>
    </div>
  </div>
</nav>